@font-face {
    font-family: "Black Chancery";
    src: url('./fonts/BLKCHCRY.ttf') format('truetype');
    font-family: "CAT Childs";
    src: url('./fonts/CATChilds.ttf') format('truetype');
}

:root {
    --dpurple: #3f2332;
    --dgreen: #1f341c;
    --gold: #C98934;
    --cream: #d9d9d9;
    --lpurple: #AC98B3;
    --lgreen: #61602A;
    --bgreen: #edede0;
    --title: 'CAT Childs', 'Times New Roman', serif;
    --body: 'Cormorant Garamond', 'Times New Roman', serif;
}

html {
    scroll-snap-type: y mandatory;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--dpurple);
    background-image: url(images/background-1.jpg);
    background-size: cover;
    border: 1px solid rgba(217, 217, 217, 0.5);
}

header {
    display: flex;
    justify-content: center;
}
    
nav {
    bottom: 0;
    left: 100;
    position: fixed;
    background-color: var(--cream);
    width: 100%;
    min-height: 8vh;
    border-top: 3px solid var(--dgreen);
    box-shadow: 0px -15px 50px var(--dpurple);
    z-index: 9;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-left: -1.5rem;
    margin-right: 1rem;
}

li {
    list-style: none;
    color: var(--dgreen);
}

nav a {
    width: 7rem;
}

.toggle {
    all: unset;
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: var(--lgreen);
    box-shadow: -5px -5px 40px var(--dpurple),
                5px 5px 40px var(--dpurple);
    border-radius: 50%;
    cursor: pointer;
    bottom: 0;
    left: 100;
    margin: 3rem;
    position: fixed;
    transition: 0.25s ease-out;
    z-index: 10;
}
    
.toggle::before {
    margin: 1px 11px;
    position: absolute;
    content: '✷';
    color: var(--gold);
    font-size: 2rem;
    transition: 0.25s ease-out;
}
    
.toggle:hover:before {
    color: var(--cream);
}
    
.toggle:checked:before {
    font-size: 2.5rem;
    margin: -2px 9px;
    transform: rotate(90deg);
}
    
.toggle:checked {
    transform: translateY(-50px);
}

.toggle:not(:checked) + nav {
    opacity: 0;
}

.toggle:checked + nav {
    opacity: 100;
    animation: slideUp 0.25s ease-out;
}

h1, h2 {
    font-family: var(--title);
    color: var(--cream);
}

h1{
    font-size: 2rem;
    display: none;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-family: var(--body);
    font-size: 1rem;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-family: var(--body);
    color: var(--cream);
}
    
a {
    font-family: var(--body);
    display: block;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--dgreen);
    border: 1px solid var(--dgreen);
    padding: 0.5rem 1rem;
}

a:hover {
    background-color: var(--bgreen);
    transition: all 0.1s;
}

a:active {
    font-weight: 700;
    border: 2px solid var(--dgreen);
    transition: all 0.1s;
}

.star {
    z-index: 0;
    opacity: 15%;
    position: fixed;
}

.purple {
    top: 0;
    left: 0;
    transform: scale(130%) translateX(-15%) translateY(-20%);
}

.gold {
    bottom: 0;
    right: 0;
    transform: scale(170%) translateX(15%) translateY(20%);
}

.white {
    height: auto;
    opacity: 6%;
}

.one {
    width: 13%;
    top: 80%;
    left: 10%;
    animation: spin 20s infinite linear;
}

.two {
    width: 8%;
    top: 68%;
    left: 35%;
    animation: spin 20s infinite linear;
}

.three {
    width: 20%;
    top: 13%;
    left: 65%;
    animation: spin 20s infinite linear reverse;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: -4rem auto 1rem auto;
    width: 75%;
}

.home {
    scroll-snap-align: start;
    padding: 3rem 2rem;
    height: 100vh;
}

.home h2, p {
    animation: transIn 0.5s;
}

.ph {
    display: none;
    scroll-snap-align: start;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.work {
    scroll-snap-align: start;
    width: 80%;
    height: 100vh;
    margin: 8rem auto 1rem auto;
    flex-direction: column;
    align-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 9;
    animation: transIn linear 0.5s;
}

.container a {
    padding: 0;
    border-radius: 6px;
}
    
.card {
    text-align: center;
    background: var(--cream);
    width: 70vw;
    min-height: 25rem;
    padding: 0 0 1rem 0;
    border-radius: 5px;
}
    
.card img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 5px 5px 0 0;
}

.card h3 {
    color: var(--dgreen);
    width: 85%;
    margin: auto;
    padding-top: 1rem;
}

.card a {
    margin: 1rem auto;
    width: 12rem;
}

.card:hover {
    background-color: var(--bgreen);
    transition: all 0.1s;
}

.card:active {
    font-weight: 700;
    border: 2px solid var(--dgreen);
    transition: all 0.1s;
}

.contact {
    scroll-snap-align: start;
    margin-top: 1rem;
    justify-content: center;
    height: 100vh;
}

.contact h2 {
    margin-top: -2rem;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
    padding: 1rem;
    border: var(--dgreen) 1px solid;
    box-shadow: -5px -5px 50px var(--dpurple),
                5px 5px 50px var(--dpurple);
    z-index: 8;
}

form, .contact h2 {
    animation: transIn 0.5s;
}
    
label {
    font-family: var(--body);
    color: var(--dgreen);
    margin-top: 0.75rem;
    margin-bottom: -0.75rem;
}

input[type='text'], input[type='email'], textarea {
    font-family: var(--body);
    font-style: italic;
    background-color: var(--cream);
    outline: none;
    border: none;
    margin-top: 1rem;
    border-bottom: var(--dgreen) 1px solid;
}
    
textarea {
    resize: none;
    height: 5rem;
}
    
input[type='submit'] {
    font-family: var(--title);
    text-align: center;
    width: 35%;
    margin: 1.5rem auto;
    padding: 0.5rem 0.25rem;
    background-color: var(--cream);
    border: var(--dgreen) 1px solid;
}

input[type='submit']:hover {
    background-color: var(--bgreen);
    transition: background 0.1s;
    cursor: pointer;
}

input[type='submit']:active {
    font-weight: 700;
    border: var(--dgreen) 2px solid;
    transition: all 0.1s;
}

.small {
    text-align: center;
    color: var(--lgreen);
    font-size: 0.85rem;
}

.small a {
    display: contents !important;
    padding: none;
    margin: none;
    border: none;
    text-transform: none;
}

.small a:hover {
    font-weight: 700;
}

@keyframes slideUp {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes transIn {
            0% {
                opacity: 0;
                transform: translateY(50%);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

@keyframes spin {
    0% {
        opacity: 6%;
        transform: rotateZ(0);
    }
    50% {
        opacity: 12%;
        transform: rotateZ(90deg);
    }
    100% {
        opacity: 6%;
        transform: rotateZ(180deg);
    }
}

@media only screen and (min-width: 451px) and (max-width: 799px) {
    nav ul{
        min-width: 400px;
        width: 80%;
        margin: 1rem auto;
    }
    nav li:first-child {
        margin-left: -2.5rem;
    } 
    .container {
        margin: auto;
    }
    .card {
        width: 45vw;
        height: auto;
    }
    .card h3 {
        padding-bottom: 1rem;
    }
    .contact {
        width: 80%;
    }
    .contact h2 {
        margin-top: -6rem;
    }
    p {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 800px) {
    nav ul {
        width: 40%;
        min-width: 400px;
        margin: 1rem auto;
    }
    nav li:first-child {
        margin-left: -2.5rem;
    } 
    .home {
        width: 50%;
    }
    .work {
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
    }
    .container {
        margin: auto;
    }
    .card {
        width: 45vw;
        max-width: 300px;
        height: auto;
    }
    .card h3 {
        padding-bottom: 1rem;
    }
    .contact {
        min-width: 300px;
        width: 25%;
    }
    .contact h2 {
        margin-top: -5rem;
    }
    h2 {
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
}
